name: Update AWS

on:
  push:
    branches: [ "main" ]

env:
  REMOTE_HOST: "18.208.249.134"
  REMOTE_USER: "ec2-user"

permissions:
  contents: read
  id-token: write

jobs:
  redeploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH set up
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/CI-CD-Key
          chmod 600 ~/.ssh/CI-CD-Key
          ssh -i ~/.ssh/CI-CD-Key -o StrictHostKeyChecking=no $SSH_USER@$SSH_HOST ./Cadiz_Peiffer_ec2/redeploy.sh
        env:
          SSH_HOST: ${{ env.REMOTE_HOST }}
          SSH_USER: ${{ env.REMOTE_USER }}
          SSH_KEY: ${{ secrets.AWS_SSH }} 
